.additional-product {
  box-sizing: border-box;
  width: auto;
  padding: 0;
  margin-bottom: 36px;
}

.additional-product__title {
  font-family: $first-font;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  text-align: left;
  position: relative;
  width: 320px;
  box-sizing: border-box;
  padding-left: 19px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.additional-product::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  background-color: $main-green;
  width: 100%;
}

.additional-product__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 39px;
}

.additional-product__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 17px;
  padding-top: 10px;
}

.additional-product__item:first-child {
  border-top: 1px solid #cdcdcd;
}

.additional-product__name {
  align-self: flex-start;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  padding-left: 1px;
  margin-top: 0px;
  margin-bottom: 9px;
  line-height: 22px;
}

.additional-product__table {
  font-family: $second-font;
  font-size: 14px;
  font-weight: normal;
  color: $small-text;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 14px;
  text-align: left;
  padding-left: 0px;
    dt {
    width: 50%;
  }

  dd {
    margin: 0;
    width: 50%;
    text-align: right;
  }
}

.additional-product__button {
  width: 100%;
  line-height: 22px;
  padding-right: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 2px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .additional-product__list,
  .additional-product__title {
    margin-left: 0;
    margin-right: 0;
  }

  .additional-product__wrap {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .additional-product__title {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 17px;
    margin-top: -25px;
    background-color: #ffffff;
    width: auto;
    padding-left: 18px;
    padding-right: 25px;
  }
}

@media (min-width: 768px) {

  .additional-product {
    padding: 0 0;
    margin-bottom: 68px;
  }

  .additional-product__list {
    margin-bottom: 67px;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .additional-product__item {
    padding: 23px 37px;
    padding-bottom: 27px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    .additional-product__title {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 67px;
    font-size: 36px;
    width: 768px;
    justify-content: space-between;
  }

  .additional-product__name {
    margin-top: 0;
    margin-bottom: 26px;
    width: 50%;
    font-size: 20px;
  }

  .additional-product__table {
    width: 312px;
    font-size: 16px;
    padding-bottom: 19px;
    text-align: right;

    dt {
      width: 70%;
    }

    dd {
      width: 30%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .additional-product__title {
    margin-bottom: 50px;
    margin-top: -34px;
    background-color: #ffffff;
    width: auto;
    margin-left: 33px;
    padding-left: 35px;
    padding-right: 34px;
  }

  .additional-product__list {
    margin-bottom: 69px;
  }

  .additional-product {
    margin-bottom: 0px;
  }

  .additional-product__item {
    width: 632px;
  }

  .additional-product__wrap {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}


@media (min-width: 1300px) {

  .additional-product {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 84px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .additional-product__wrap {
    width: 1300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .additional-product__title {
    padding: 0;
    margin-bottom: 62px;
    width: auto;
    padding-left: 40px;
    margin-top: -34px;
    background-color: #ffffff;
    padding-right: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  // .additional-product__title::before {
  //   min-width: 70px;
  // }

  .additional-product__list {
    padding-left: 40px;
    padding-right: 0;
    margin-bottom: 0px;
    width: 935px;
    margin-left: 0;
    margin-right: 80px;
  }

  .additional-product__item {
    border-left: none;
    border-right: none;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    padding: 14px 0;
    justify-content: flex-start;
  }
  .additional-product__name {
    width: 324px;
    margin: 0;
    align-self: center;
  }
  .additional-product__button {
    width: 245px;
    margin-left: auto;
  }

  .additional-product__table {
    padding-bottom: 0;
    width: 287px;
    text-align: inherit;
    padding-top: 7px;
  }
}
