.card-product__title {
  font-size: 16px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  width: 75px;
  margin-bottom: 15px;
  line-height: 20px;
}

.card-product__info {
  font-family: $second-font;
  font-size: 12px;
  font-weight: normal;
  color: $small-text;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 48px;
    dt {
    width: 50%;
  }

  dd {
    margin: 0;
    width: 50%;
    text-align: right;
  }
}

.card-product__wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0px;
}

.card-product__description {
  display: flex;
  flex-direction: column;
  width: 140px;
  justify-content: flex-start;
  margin-top: 8px;
}

.card-product__button {
  width: 100%;
  padding: 11px 0;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {

    .card-product__wrap {
    flex-direction: column;
    align-items: center;
    margin-top: -61px;
  }

  .card-product__description {
    width: 100%;
    padding-top: 39px;
  }

  .card-product__title {
    font-size: 20px;
    width: 158px;
    align-self: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 28px;
  }

  .card-product__info {
    margin-bottom: 33px;
    font-size: 16px;

      dt {
      border-bottom: 1px solid;
      padding: 5px 0;
    }
      dd {
      border-bottom: 1px solid;
      padding: 5px 0;
    }
  }
}
