.card-product__title {
  font-size: 16px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}

.card-product__info {
  font-family: $second-font;
  font-size: 12px;
  font-weight: normal;
  color: $small-text;
}
