.cat-slider__button {
  border: none;
  background-color: transparent;
  color: #111111;
  font-family: $first-font;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 1440px) {

  .cat-slider__controls {
    display: flex;
    width: 76%;
    justify-content: space-between;
  }
}
