.contacts {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.contacts__text {
  background-color: #f2f2f2;
  display: flex;
  padding: 30px 20px;
}

.contacts__text--white {
  background-color: #ffffff;
}

.contacts__title {
  color: #111111;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  line-height: 20px;
}

.contacts__address {
  color: $small-text;
  font-family: $second-font;
  font-size: 14px;
  margin: 0;
  line-height: 18px;
}

.contacts__map {
  background-color: #fdf7f1;
}
