.contacts {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.contacts__wrap {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.contacts__wrap--grey {
  background-color: #f2f2f2;
}

.contacts__text {
  background-color: #f2f2f2;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 29px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  box-sizing: border-box;
  z-index: 10;
}

.contacts__text--white {
  background-color: #ffffff;
}

.contacts__title {
  color: #111111;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  line-height: 20px;
  width: 160px;
}

.contacts__address {
  color: $small-text;
  font-family: $second-font;
  font-size: 14px;
  margin: 0;
  line-height: 19px;
  width: 160px;
}

.contacts__map {
  background-color: #fdf7f1;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {

  .contacts__wrap {
    width: auto;
  }

  .contacts__text {
    justify-content: space-between;
    min-height: 201px;
    box-sizing: border-box;
    padding-top: 65px;
    padding-left: 71px;
    padding-right: 71px;
    width: 768px;
  }

  .contacts__title {
    width: 154px;
    font-size: 20px;
    line-height: 25px;
  }

    .contacts__address {
    text-align: right;
    font-size: 16px;
    line-height: 19px;
    margin-top: -1px;
    width: 159px;
    span {
      padding-top: 10px;
      padding-top: 21px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@media (min-width: 1440px) {

  .contacts {
    position: relative;
  }

  .contacts__wrap {
    width: 1440px;
    position: relative;
  }

  .contacts__text {
    background-color: #ffffff;
    position: absolute;
    width: 570px;
    left: 110px;
    top: 95px;
    padding-left: 76px;
    padding-right: 90px;
  }

  .contacts__address {
    text-align: left;
    width: 155px;
  }
}
