.example {
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  width: auto;


    &__wrap {
      padding: 0 20px;
      box-sizing: border-box;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
}


.example__description {
  color: $small-text;
  font-family: $second-font;
  font-size: 14px;
  margin-top: 0;
  line-height: 18px;
  margin-bottom: 22px;
}

.example__price {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 38px;
  text-align: center;
}

.example__result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.example__slider {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 36px;
}

.example__title {
  margin-top: 26px;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
    .example {
    background-color: transparent;
    min-height: 1023px;

      &__wrap {
        flex-direction: row;
        padding: 0;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: unset;
        width: 768px;
      }
  }

  .example__description {
    font-size: 16px;
    width: 675px;
    padding: 0 30px;
    line-height: 24px;
    margin-bottom: 35px;
  }

  .example__result {
    justify-content: flex-start;
    width: 500px;
    padding-left: 30px;
  }

  .example__price {
    font-size: 20px;
    margin-top: 0;
    text-align: right;
    width: 174px;
    padding-right: 30px;
  }

    .example__slider {
    min-height: 462px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f2f2f2;
    margin-top: auto;
  }
}

@media (min-width: 1440px) {

  .example {
    background-color: #f2f2f2;
    min-height: 462px;

    &__wraap {
      width: 1440px;
    }
  }

  .example__title {
    margin-bottom: 0;
    width: 100%;
    background-color: #ffffff;
    margin-top: 0;
    padding-bottom: 66px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .example__description {
    width: 51%;
    box-sizing: border-box;
    padding-left: 110px;
    padding-top: 39px;
  }

  .example__result {
    width: 51%;
    padding-left: 110px;
  }

  .example__price {
    box-sizing: border-box;
    width: 51%;
    text-align: left;
    padding-left: 110px;
    margin-top: 47px;
    padding-bottom: 45px;
  }

  .example__slider {
    width: 49%;
    margin-top: -348px;
    background-color: transparent;
  }
}
