.example {
  background-color: #f2f2f2;
}

.example__description {
  color: $small-text;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.example__price {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
