.fieldset {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.fieldset__wrap {
  border: none;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
  box-sizing: border-box;
}

.fieldset--target,
.fieldset__wrap--additionally {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 21px;
  padding-top: 21px;
  align-items: center;
  border: none;
}

.fieldset__wrap--additionally {
  padding-bottom: 19px;
  padding-top: 13px;
  margin-left: auto;
  margin-right: auto;
}

.fieldset__label {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #222222;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: baseline;

  span {
    margin-right: 14px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
  }
}

.fieldset__label[for="cat-weight"] span {
  margin-right: 18px;
}

.fieldset--basic .fieldset__label {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.fieldset--target .fieldset__label--radio {
  width: 279px;
  margin-left: auto;
  margin-right: auto;
}

.fieldset__label--radio,
.fieldset__label--checkbox {
  margin-bottom: 13px;
  position: relative;
  width: 233px;
  justify-content: flex-start;
  align-items: center;
}

.fieldset__label--radio::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #cdcdcd;
  border: 9px solid #ffffff;
  margin-right: 16px;
}

.fieldset__radio:checked + .fieldset__label--radio::before {
  background-color: $main-green;
}

.fieldset__label--checkbox::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-right: 16px;
}

.fieldset--target {
  justify-content: flex-start;
  margin-bottom: 23px;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  padding-top: 20px;
  padding-bottom: 8px;
}

.fieldset__label--checkbox::after {
  content: "";
  display: none;
  vertical-align: middle;
  width: 20px;
  height: 10px;
  border-bottom: 1px solid $main-green;
  border-left: 1px solid $main-green;
  transform: rotate(-45deg);
  position: absolute;
  left: 6px;
  top: 6px;
}

.fieldset__checkbox:checked + .fieldset__label--checkbox::after {
  display: block;
}

.fieldset__input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 45px;
  margin-bottom: 15px;
  padding: 0 13px;
  max-width: 82%;
  min-width: 70px;
}

.fieldset__input::placeholder {
  font-family: $first-font;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: $small-text;
  opacity: 1;
}

.fieldset__input--comment {
  max-width: 100%;
  padding: 15px;
  min-height: 150px;
}

.fieldset__legend {
  font-family: $first-font;
  font-size: 24px;
  font-weight: normal;
  color: #111111;
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.fieldset__legend span {
  max-width: 200px;
  margin-right: 19px;
}

.fieldset__legend--green-line {
  margin: 0 0;
  line-height: 24px;
  margin-top: -17px;
  background-color: #ffffff;
  padding-left: 35px;
  margin-left: -35px;
}

// .fieldset--target {
//   border-bottom: 1px solid #cdcdcd;
//   border-top: 1px solid #cdcdcd;
//   padding-top: 20px;
//   padding-bottom: 8px;
// }

.fieldset--basic {
  margin-bottom: 8px;
}

.fieldset__wrap--contacts {
  padding-top: 0;
  margin-bottom: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.fieldset__input--contacts[name*="email"] {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: 183px 13px;
}

.fieldset__input--contacts[name*="email"]:focus {
  background-image: url("../img/icon-mail-green.svg");
}

.fieldset__input--contacts[name*="email"]:invalid {
  background-image: url("../img/icon-mail-red.svg");
}

.fieldset__input--contacts[name*="phone"] {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: 166px 10px;
}

.fieldset__input--contacts[name*="phone"]:focus {
  background-image: url("../img/icon-phone-green.svg");
}

.fieldset__input--contacts[name*="phone"]:invalid {
  background-image: url("../img/icon-phone-red.svg");
}

.fieldset--contacts::before,
.fieldset--comment::before,
.fieldset--additionally::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  background-color: $main-green;
  width: 100%;
  z-index: -1;
  position: relative;
  margin-top: 15px;
}

.fieldset__label--radio:hover::before {
  box-shadow: 0 0 1px 1px #bababa;
}

.fieldset__label--checkbox:hover::before {
  border-color: #bababa;
}

.fieldset__label--radio:active {
  opacity: 0.3;
}

.fieldset__label--checkbox:active {
  opacity: 0.3;
}

.fieldset__input[type="text"],
.fieldset__input--contacts {
  opacity: 0.5;
  border: 1px solid #cdcdcd;
}

.fieldset__input[type="text"]:hover,
.fieldset__input--contacts:hover {
  opacity: 1;
}

.fieldset__input[type="text"]:focus,
.fieldset__input--contacts:focus {
  color: #444444;
  border: solid 1px #444444;
  opacity: 1;
  box-shadow: inset 0 0 0 1px #444444;
}

.fieldset__input[type="text"]:invalid,
.fieldset__input--contacts:invalid {
  border: solid 1px #ff8282;
  opacity: 1;
  box-shadow: inset 0 0 0 1px #ff8282;
}

@media (max-width: 767px) {
  .fieldset__wrap--contacts .fieldset__legend--green-line {
    width: 200px;
    margin-bottom: 34px;
  }

  .fieldset--contacts {
    margin-bottom: 9px;
  }

  .fieldset__wrap--comment {
    margin-right: auto;
    margin-left: auto;
  }

  .fieldset__wrap--comment .fieldset__legend--green-line {
    width: auto;
    padding-right: 21px;
    margin-bottom: 35px;
  }

  .fieldset--comment {
    margin-bottom: 9px;
  }

  .fieldset__wrap--additionally .fieldset__legend--green-line {
    margin-top: -30px;
    width: auto;
    padding-right: 23px;
    margin-bottom: 34px;
  }

  .fieldset__input--comment {
    padding-top: 13px;
    padding-right: 12px;
  }

  .fieldset__label-wrap.fieldset__label-wrap--contacts {
    width: 280px;
  }

  .fieldset__label--contacts span {
    margin-right: 11px;
  }
}

@media (min-width: 768px) {
  .fieldset__wrap {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .fieldset__label-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 22px;
    padding-top: 29px;
    padding-left: 50px;
    flex-direction: column;
  }

  .fieldset__input::placeholder {
    font-size: 20px;
  }

  .fieldset-group {
    display: flex;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 53px;
    flex-wrap: wrap;
  }

  .fieldset--basic {
    margin-bottom: 55px;
    padding-left: 5px;
  }

  .fieldset--target {
    border: 1px solid #cdcdcd;
    padding: 24px;
    padding-left: 28px;
    padding-bottom: 14px;
    margin-bottom: 27px;
    margin-left: 40px;
    margin-right: 0;
    width: 577px;
  }

  .fieldset--basic .fieldset__label {
    width: auto;
  }

  .fieldset--target .fieldset__label--radio {
    width: auto;
  }

  .fieldset__wrap--contacts {
    margin-bottom: 0;
    padding-top: 0;
  }

  .fieldset--comment {
    margin-bottom: 51px;
  }

  .fieldset__wrap--comment {
    margin-bottom: 0;
    justify-content: center;
  }

  .fieldset__wrap--comment .fieldset__legend--green-line {
    margin-bottom: 82px;
    margin-right: auto;
  }

  .fieldset__wrap--additionally {
    padding: 0;
    margin-bottom: 17px;
  }

  .fieldset__label-wrap--additionally {
    padding-top: 11px;
    padding-left: 71px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fieldset__label-wrap--additionally .fieldset__label--checkbox {
    width: 332px;
  }

  .fieldset__wrap--additionally .fieldset__legend--green-line {
    margin-left: 31px;
  }

  .fieldset__input {
    min-width: 497px;
    max-width: 567px;
    height: 52px;
    margin-bottom: 19px;
    padding-left: 18px;
  }

  .fieldset__input--contacts[name*="email"] {
    background-position: 513px 18px;
    padding-left: 22px;
  }

  .fieldset__input--contacts[name*="phone"] {
    background-position: 492px 16px;
    padding-left: 16px;
  }

  .fieldset__input--comment {
    max-width: 631px;
    margin-top: 0;
    min-height: 174px;
    padding-top: 13px;
    padding-left: 20px;
  }

  .fieldset__label {
    font-size: 20px;
    width: 633px;

    span {
      font-size: 20px;
      margin-right: 18px;
    }
  }

  .fieldset__label--radio {
    width: 92%;
    justify-content: flex-start;
  }

  .fieldset__label--radio::before {
    width: 17px;
    height: 17px;
    border: 11px solid #ffffff;
    margin-right: 20px;
  }

  .fieldset__label--checkbox {
    width: 284px;
    margin-bottom: 32px;
  }

  .fieldset__label--checkbox::before {
    width: 40px;
    height: 40px;
    margin-right: 18px;
  }

  .fieldset__label--checkbox::after {
    left: 9px;
    top: 11px;
  }

  .fieldset__legend--green-line {
    margin-top: -20px;
    width: auto;
    padding: 0 38px;
    margin-left: 11px;
    font-size: 36px;
    margin-bottom: 53px;
  }

  .fieldset__checkbox {
    width: 3%;
  }

  .fieldset--contacts {
    margin-bottom: 52px;
  }

  .fieldset--contacts::before,
  .fieldset--comment::before,
  .fieldset--additionally::before {
    content: "";
    z-index: -1;
    position: relative;
    margin-top: 15px;
  }
}

@media (min-width: 1300px) {
  .fieldset {
    width: 100%;
  }

  .fieldset-group {
    width: 1300px;
    padding: 0 40px;
  }

  .fieldset__wrap {
    width: 1300px;
  }

  .fieldset--basic {
    width: 569px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 2px;
  }

  .fieldset--target {
    width: 517px;
    min-height: 170px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .fieldset--contacts {
    margin-bottom: 52px;
  }

  .fieldset--comment {
    margin-bottom: 71px;
  }

  .fieldset__label {
    margin-bottom: 20px;
    width: 100%;
  }

  .fieldset__label-wrap {
    padding-left: 19px;
    padding-right: 22px;
    padding-top: 11px;
    flex-direction: row;
  }

  .fieldset__wrap--contacts {
    margin-bottom: 0;
  }

  .fieldset__wrap--comment {
    margin-bottom: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .fieldset__wrap--comment .fieldset__legend--green-line {
    // margin-bottom: 33px;
    width: auto;
    align-self: flex-start;
    margin-bottom: 80px;
  }

  .fieldset__wrap--additionally {
    margin-bottom: 24px;
  }

  .fieldset__input {
    min-width: 436px;
    max-width: 506px;
    margin-bottom: 0;
  }

  .fieldset__input--comment {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
  }

  .fieldset__label--radio {
    width: 91%;
  }

  .fieldset__label--contacts {
    width: 570px;
    padding-left: 2px;
  }

  .fieldset__label-wrap--additionally {
    width: 1218px;
    padding-left: 41px;
  }

  .fieldset__label-wrap--additionally .fieldset__label--checkbox {
    width: 20%;
  }

  .fieldset__input--contacts[name*="email"] {
    background-position: 448px 18px;
  }

  .fieldset__input--contacts[name*="phone"] {
    background-position: 430px 16px;
  }

  .fieldset__legend--green-line {
    margin-top: -18px;
    padding: 0 40px;
    margin-left: -21px;
  }

  .fieldset--target .fieldset__label--radio {
    margin-bottom: 14px;
  }

  .fieldset__wrap--additionally .fieldset__legend--green-line {
    margin-left: -1px;
    margin-bottom: 51px;
  }

  .fieldset--additionally {
    margin-bottom: 14px;
  }

  .fieldset__wrap--contacts .fieldset__legend--green-line {
    margin-bottom: 70px;
  }

  // .fieldset__wrap--comment .fieldset__legend--green-line {
  //   margin-bottom: 80px;
  // }
}
