.main-nav {
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__toggle {
  width: 25px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  right: 20px;
  top: 22px;
}

.main-nav__toggle--close {
  background-image: url("../img/icon-mobile-menu.svg");
}

.main-nav__list {
  padding: 0;
}

.main-nav__list--close {
  display: none;
}

@media (min-width: 768px) {

    .main-nav__toggle {
    display: none;
  }

    .main-nav__list--close {
    display: flex;
  }
}


