.main-form__title {
  font-size: 14px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}

.main-form__wrap small {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $small-text;
}
