.main-nav {
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__toggle {
  width: 25px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-mobile-menu.svg");
  background-color: transparent;
  border: none;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  right: 20px;
  top: 21px;
  background-image: url("../img/icon-close.svg");
}

.main-nav__list {
  padding: 0;
}
