.map {
  height: 362px;
}

.map__image {
  height: 362px;
}

@media (min-width: 768px) {
    .map__image {
    width: 100%;
    object-fit: cover;
  }

  .map {
    height: 397px;
  }

  .map__image {
    height: 397px;
  }
}

@media (min-width: 1440px) {
  .map {
  height: 400px;
}
}
