.page-footer {
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 31px;
  box-sizing: border-box;
}

.page-footer__wrap {
  box-sizing: border-box;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 29px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__developer-link {
  font-family: $second-font;
  font-size: 16px;
  text-decoration: none;
  color: $small-text;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 286px;
}

.page-footer__developer-logo {
  width: 40px;
  height: auto;
  fill: #666666;
}

.page-footer__developer-link:hover svg {
  fill: #68b738;
}

.page-footer__developer-link:active svg,
.page-footer__developer-link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    min-height: 150px;
    padding-top: 4px;
  }

  .page-footer__wrap {
    width: 768px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    min-height: 114px;
    align-items: center;
  }

  .page-footer__logo {
    margin-bottom: 0;
    width: 176px;
    text-align: left;
    margin-top: 30px;
  }

  .page-footer__developer-link {
    width: 164px;
    padding-top: 23px;
  }
}

@media (min-width: 1300px) {
  .page-footer {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__wrap {
    width: 1300px;
    padding: 0 40px;
    padding-top: 4px;
  }
}
