.page-title {
  font-size: 36px;
  font-weight: normal;
  color: #111111;
  margin: 0;
  padding-bottom: 22px;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  box-sizing: border-box;
  border-top: 1px solid;
}

@media (min-width: 768px) {
    .page-title {
    font-size: 60px;
  }

  .page-title--form {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 53px;
  }
}

@media (min-width: 1440px) {
  .page-title {
    padding-left: 110px;
    padding-right: 110px;
  }
}
