.page-footer {
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 31px;
  padding-left: 20px;
  box-sizing: border-box;
  padding-right: 20px;
}

.page-footer__developer-link {
  font-family: $second-font;
  font-size: 16px;
  text-decoration: none;
  color: $small-text;
}

@media (min-width: 768px) {
    .page-footer {
    width: 768px;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    min-height: 150px;
  }

    .page-footer__logo {
    width: 128px;
  }
}

@media (min-width: 1440px) {
    .page-footer {
    width: 1440px;
  }
}
