.page-title {
  font-size: 36px;
  font-weight: normal;
  color: #111111;
  margin: 0;
  padding-bottom: 22px;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  box-sizing: border-box;
}

.page-title--form {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
    .page-title {
    font-size: 60px;
    padding-top: 10px;
    padding-left: 30px;
    width: 768px;
    border-top: none;
  }

  .page-title--form {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    margin-bottom: 52px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1300px) {
  .page-title {
    padding-left: 40px;
    padding-right: 40px;
    width: 1300px;
  }

  .page-title--form {
    padding-top: 10px;
  }
}
