.preview-catalog {
  margin-left: auto;
  margin-right: auto;
}
.preview-catalog__list {
  list-style: none;
  padding: 0;
}
.preview-catalog__item {
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
}

.preview-catalog__title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

.preview-catalog__description {
  font-family: $second-font;
  color: $small-text;
  border-bottom: 1px solid $small-text;
}

.preview-catalog__link {
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  text-decoration: none;
}
