.promo {
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 35px;
}
.promo__wrap {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $main-green;
  min-height: 289px;
  display: flex;
  background-position: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.promo__text {
  font-family: $second-font;
  font-size: 16px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: 56px 61px;
  background-position: center top;
  text-align: center;
  width: 159px;
  min-height: 181px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 46px;
}

@media (min-width: 768px) {

  .promo {
    padding: 0 30px;
  }

  .promo__wrap {
    min-height: 200px;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-direction: row;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@1x.jpg");
    background-position: 91px center, center;
    background-size: 56px 61px, auto;
  }

  .promo__text {
    margin: 0;
    width: 161px;
    text-align: left;
    min-height: 60px;
    margin-right: 125px;
    background-image: none;
  }
}

@media (min-width: 1440px) {

.promo {
    padding-left: 0;
    padding-right: 110px;
    width: 355px;
    display: inline-block;
    min-height: 289px;
    margin-bottom: 0;
    vertical-align: bottom;
    margin-bottom: 86px;
  }

  .promo__wrap {
    min-height: 289px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@1x.jpg");
    background-position: center 47px, center;
    justify-content: center;
  }

  .promo__text {
    text-align: center;
    margin-right: 0;
    align-self: flex-end;
    padding-bottom: 43px;
  }
}
