.show-more {
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid;
}

.show-more__text {
  font-size: 16px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;

  span {
  font-family: $second-font;
  font-size: 12px;
  color: $small-text;
  }
}

.show-more__button--show-all {
  font-family: $first-font;
  font-size: 16px;
  color: $small-text;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  font-weight: normal;
  width: 100%;
  height: auto;
  padding: 12px 0;
}

.show-more__button {
  background-color: transparent;
  border: none;
  height: 83px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 31px 31px;
}

.show-more__text {
  width: 233px;
  text-align: center;
  span {
    text-transform: none;
    display: block;
    padding-top: 11px;
  }
}
