.site-list {
  list-style: none;
  padding: 0;
  display: block;
  width: 320px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  a {
    text-decoration: none;
  }
}

.site-list__item {
  width: 320px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 0;
  border-top: 1px solid rgba(0,0,0,0.2)
}

.site-list__item:last-child {
  border-bottom: 1px solid rgba(0,0,0,0.2)
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    width: 468px;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      font-size: 18px;
    }
  }

  .site-list__item {
    box-sizing: border-box;
    width: auto;
    border: none;
  }

  .site-list__item:last-child {
    border: none;
  }
}

@media (min-width: 1440px) {

  .site-list {
  width: 620px;
  a {
      font-size: 20px;
    }
  }

  .site-list__link--white {
    color: #ffffff;
  }
}
