.social {
  list-style: none;
  min-height: 62px;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-top: 1px solid;
  width: 100%;
  padding: 0;
}

.social__item {
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
    .social {
    width: 150px;
    border: none;
    margin: 0;
  }
}
