@font-face {
    font-family: "Oswald";
    font-weight: medium;
    src: url("../fonts/oswaldmedium.woff2") format('woff2'),
		     url("../fonts/oswaldmedium.woff") format('woff');
}
@font-face {
    font-family:"Oswald";
    font-weight: normal;
	  src: url("../fonts/oswaldregular.woff") format('woff'),
		     url("../fonts/oswaldregular.woff2") format('woff2');
}

body {
  font-family: $first-font;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
